<h2>Contact us</h2>
<p>
Khalique Newaz, Ph.D. <br>
Junior Group Leader <br>
Instititute for Computational Systems Biomedicine <br>
University of Hamburg <br>
<br>
Email: khalique.newaz (at) uni-hamburg.de <br>
<br>
Office: Albert-Einstein-Ring 10, Room 3064 <br>
22761 Hamburg, Germany <br>
</p>

<p>
<h3> Join us </h3>
 Open positions are listed on our <a href="{{ site.url }}/join">Join</a> page.
 <br>
 <br>

<!-- <p>
 <h3> Read our <a href="{{ site.url }}/philosophy/">philosophy</a></h3>

</p> -->


<!-- <h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}"><b>{{ post.title }}</b></a></li>
  {% endfor %}
</ul> -->
